.bottom-bar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;

    height: 40px;

    background-color: rgba(10, 15, 26, 0.2); /* subtle */
}