.game-button {
    width: 100px;
    height: 35px;

    background-color: transparent;

    border-width: 2px;
    border-color: rgb(0, 255, 255); /* cyan */
    border-radius: 6px;

    color: white;
    font-size: 14px;

    unity-text-align: middle-center;

    transition-property: background-color, border-color;
    transition-duration: 0.2s;
}